body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/flat-lay-workstation-with-copy-space-laptop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}